/* css/style.css */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #74cfebeb, #acb3e5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.form-box {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

button, .btn {
  background-color: #0004ffd4;
  border: none;
  color: rgba(255, 255, 255, 0.785);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

button:hover, .btn:hover {
  background-color: #0003b3c6;
}
